.attribute-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10% 0;
  width: 100%
}

.attribute-item {
  font-size: var(--font-size-m);
  text-align: center;
}

.attribute-item__title {
  color: var(--color-accent);
  font-family: "Oswald", sans-serif;
  font-size: var(--font-size-xl);
  font-weight: bold;
  margin-bottom: 5%;
}

.attribute-item__text {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-s);
  line-height: 1.5em;
}
