.main {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}

.article {
  display: flex;
  flex-direction: column;
}

.article__header {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 2.25rem;
  color: var(--color-accent);
  margin-bottom: 0.5em;
}

.article__text {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-s);
  line-height: 2em;
}

.article__text:last-of-type {
  margin: 2.5em 0;
}

.article__image {
  width: 100%;
}

.sidebar-item {
  color: white;
  padding: 2em;
  text-align: center;
}

.sidebar-item + .sidebar-item {
  margin-top: 1.25em;
}

.sidebar-item__title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: var(--font-size-xl);
}

.sidebar-item__text {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-m);
  padding-top: 2em;
}
