@import "nav.css";
@import "hero.css";
@import "attribute.css";
@import "main.css";
@import "footer.css";

:root {
  --color-blue-dark: #2e323f;
  --color-blue: #3b4050;
  --color-blue-light: #6f737f;
  --color-accent: #a59678;
  --color-gray: #f1f1f1;

  --font-size-xl: 1.875rem; // 30px
  --font-size-l: 1.5rem; // 24px
  --font-size-m: 1.875rem; // 18px
  --font-size-s: 1rem; // 16px
}

*,
*::after {
  display: border-box;
  margin: 0;
}

.background-blue {
  background: var(--color-blue);
}

.background-gray {
  background: var(--color-gray);
}

.accent {
  color: var(--color-accent);
}

.content {
  max-width: 80%;
  margin: 0 auto;
}

/* phone */
@media (max-width: 700px) {
  .nav-bar__links {
    margin-top: 1em;
  }

  .attribute-item + .attribute-item {
    margin-top: 5%;
  }

  .sidebar-item + .sidebar-item {
    margin-top: 1.25em;
  }

  .footer-info-links {
    margin-top: 2em;
  }
}

/* tablet */
@media (min-width: 700px) {
  .attribute-list,
  .footer-info-links__wrapper,
  .nav-bar__links,
  .nav-bar,
  .sidebar {
    align-items: center;
    flex-direction: row;
  }

  .attribute-list,
  .footer-info-links__wrapper,
  .nav-bar,
  .sidebar {
    justify-content: space-between;
  }

  .attribute-item + .attribute-item {
    margin-left: 5%;
  }

  .sidebar-item__title {
    font-size: 2vw;
  }

  .sidebar-item__text {
    font-size: 1.5vw;
  }

  .sidebar-item {
    width: 20%;
  }

  .footer-info__text {
    margin-bottom: 2em;
  }
}

/* desktop */
@media (min-width: 1000px) {
  .content {
    max-width: min(1200px, 80%);
  }

  .hero,
  .main,
  .footer-info {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero-descriptor {
    align-self: flex-end;
  }

  .hero {
    padding: 6em 0;
  }

  .article {
    width: 55%;
  }

  .sidebar {
    flex-direction: column;
    justify-content: flex-start;
    width: 35%;
  }

  .sidebar-item {
    width: unset;
  }

  .sidebar-item + .sidebar-item {
    margin-top: 1.25em;
  }

  .sidebar-item__title {
  font-size: var(--font-size-xl);
  }

  .sidebar-item__text {
  font-size: var(--font-size-m);
  }

  .footer-info div {
    max-width: 40%;
  }
}
