* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row--reverse {
  flex-direction: row-reverse;
}

.hero {
  background-color: #f3eed9;
  margin: auto 0;
  padding: 5em;
  text-align: center;
}

.hero-title {
  color: #824936;
  font-family: "Playfair Display", serif;
  font-size: 3.75rem;
  font-weight: 900;
  margin: 0;
}

.hero-title-prefix {
  font-family: "Roboto", monospace;
  letter-spacing: 10px;
  font-size: 1.125rem;
  font-weight: 300;
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  max-width: 70.5rem;
  padding: 4.5em 0;
  width: 70%;
}

.section-primary {
  background-color: #222c2a;
}

.section-secondary {
  background-color: #824936;
}

.section-title {
  color: #f3eed9;
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
  font-weight: 900;
  margin: 0;
}

.section-title--primary {
    color: #824936;
}

.section-title--centered {
    margin-bottom: 1em;
    text-align: center;
}

.section-content {
  font-family: "Roboto", sans-serif;
  font-size: 1.3125rem;
  font-weight: 400;
  width: 47%;
}

.section-content--contrast {
  color: white;
}
